 *{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;

    background:url("https://imgs.search.brave.com/uoyz8MoYrokbEJZNcgTIk0EdmIhtit94ixQaKQ_LIXU/rs:fit:500:0:1:0/g:ce/aHR0cHM6Ly93YWxs/cGFwZXJzLmNvbS9p/bWFnZXMvaGQvYW1h/em9uLWJhY2tncm91/bmQtdmNvdWtkZGd0/ZHB6bGI1MS5qcGc")
    center/cover no-repeat;
}

.login-box{
    width:320px;
    padding:40px 25px;

    background:rgba(168, 50, 50, 0);
    backdrop-filter:blur(8px);

    border:1px solid rgba(119, 98, 98, 0.154);
    border-radius:20px;

    box-shadow:0 8px 32px rgba(0, 0, 0, 0.131);
}


.login-box h2{
    color:rgb(221, 207, 207);
    margin-bottom:20px;
}

.login-box input{
    width:100%;
    padding:12px;
    margin:10px 0;

    border:none;
    border-radius:20px;

    background:rgba(99, 83, 83, 0.2);
    color:rgb(240, 240, 240);
}

.login-box input::placeholder{
    color:#ebebeb;
}

.login-box button{
    width:100%;
    padding:12px;
    margin-top:15px;

    border:none;
    border-radius:20px;

    background:white;
    color:rgb(88, 70, 70);
    font-weight:bold;
    cursor:pointer;
}
.reg-box button{
    width:100%;
    padding:12px;
    margin-top:15px;
    
    border:none;
    border-radius:20px;

    background:white;
    color:black;
    font-weight:bold;
    cursor:pointer;
}
a{
    color: rgb(59, 54, 54);
    text-decoration: none;
    
}
.login-box button:hover{
    background:#e5e5e5;
}

.social{
    text-align:center;
    margin-top:25px;
}

.social i{
    color:white;
    margin:0 10px;
    font-size:20px;
    cursor:pointer;
}
